################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Text-Message-CMPG-315-Poject/.vs/Text-Message-CMPG-315-Poject/FileContentIndex/110abb29-a41f-4182-9719-11bcb2674ad2.vsidx
